#app {
  display: grid;
  grid-template-columns: 80% 20%;
  grid-gap: 10px;
}

#dynboxes {
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.legend {
  border: 1px solid rgba(0, 0, 0, .2);
}